<div class="container navbar">
    <div class="terminal-nav">
        <header class="terminal-logo">
            <div class="logo terminal-prompt"><a href="/" class="no-style">Power Management
                    Console</a></div>
        </header>
        <nav class="terminal-menu">
            <ul vocab="https://schema.org/" typeof="BreadcrumbList">
                <li property="itemListElement" typeof="ListItem" class="user-info">
                    <div class="menu-item-segment">
                        {% include 'components/clock.html.twig' %}
                        <i class="material-icons">electrical_services</i>
                    </div>
                    <div class="menu-item-segment">
                        <div class="username">
                            {{ app.user.name }}
                        </div>
                        <div class="avatar" style="background-image: url({{ app.user.avatar }})" >
                            <a href="{{ path('app_logout') }}">
                                <img src="{{ app.user.avatar }}" alt="{{ app.user.name }}">
                            </a>
                        </div>
                        <meta property="position" content="1">
                    </div>

                </li>
            </ul>
        </nav>
    </div>
</div>